// Global constants should be defined here

// Font url + font weights
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,700");
$font-bold: 700;
$font-medium: 500;
$font-light: 300;
$font-family: "Montserrat", sans-serif;
$font-color: #7d7d7d;

// Netmobiel color definitions
$netmobiel-green: #58acab;
$netmobiel-sub-green: #458b88;
$netmobiel-dark-green: #095e5b;
$netmobiel-white: #ffffff; // Just because we can.

// Color definitions
$color-primary: $netmobiel-white;
$color-primary-light: $netmobiel-white;
$color-primary-dark: #cccccc; // Obtained via material.io color tool
$color-secondary: $netmobiel-green;
$color-secondary-light: #8adedd; // Obtained via material.io color tool
$color-secondary-dark: #095e5b;

// Default form configuration
$form-border-radius: 25px;
$form-margin-top-bottom: 20px;
$form-placeholder-font-color: #aeb1b3;

// Default button configuration
$btn-height: 40px;
$btn-border-radius: $form-border-radius;

// Photo
$photo-height: 100px;

// Box-widge configuration
$box-widget-padding: 20px;
