// Global constants should be defined here

// Font url + font weights
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,600");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

$font-bold: 700;
$font-medium: 400;
$font-light: 300;
$font-size: 1.2em;
$font-family: "Lato", sans-serif;

$font-family-button: "Montserrat", sans-serif;
$font-weight-button: 600;

$h1-font-size: 1.5em;
$h2-font-size: 1.3em;
$h3-font-size: 1.1em;

// Color definitions
$color-white: #FFFFFF;
$color-green: #2E8997;
$color-orange: #FF8500;
$color-alertRed: #D0021B;

$color-white-grey: #E9E9E9; // Dividers, secondary lines, footer border
$color-light-grey: #CCCCCC; // Card outlines, card trip line, input outlines
$color-mid-grey: #9B9B9B; //  Footer icons, card chevron-icon, body sub text
$color-dark-grey: #4A4A4A; // Headings, body text


$color-primary: $color-green;
$color-primary-light: lighten( $color-green, 20% );
$color-primary-dark: darken( $color-green, 20% );
$color-secondary: $color-orange;
$color-secondary-light: lighten( $color-secondary, 20%);
$color-secondary-dark: darken( $color-secondary, 20%);
$color-text-gray: lighten(gray, 5%);

$border-radius: 6px;

$footer-height: 56px;

// Default form configuration
$form-margin-top-bottom: 20px;
$form-placeholder-font-color: #aeb1b3;

// Default button configuration
$btn-height: 40px;
$btn-border-radius: $border-radius;

// Photo
$photo-height: 100px;

// Box-widge configuration
$box-widget-padding: 20px;

$header-height: 56px;

$map-width: 100vw;
$map-height: 200px;

$single-select-background-color: lighten(lightgray, 12%);
$single-border-radius: 9px;
