// Import variables --> bootstrap --> this file
@import "_variables";

// App-specific configuration
body {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Box widget
.box-widget {
  border-radius: $form-border-radius;
  padding: $box-widget-padding;
  font-weight: $font-light;
}

.background-primary {
  background: $color-primary;
}

.background-secondary {
  background: $color-secondary;
}

.background-secondary-dark {
  background: $color-secondary-dark;
}
.background-white{
  background: $color-white;
}

.background-green {
  background: $color-green;
}

// Typography
.text-primary {
  color: $color-primary;
}

.text-secondary {
  color: $color-secondary;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-small {
  font-size: 0.8em;
}

.full-width {
  width: 100%;
}

.full-height {
 height: 100%;
}

.vertical-align-center {
  align-items: center;
}

// TPO: Dunno why...
.v-btn {
  margin: 0px;
}