// Import variables --> bootstrap --> this file
@import '_variables';

// App-specific configuration
.v-application {
  font-family: $font-family;
  font-weight: $font-light;
  font-size: $font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.v-application--wrap {
  //Waarom moet dit?
  background: #ffffff;
}

.v-expansion-panel:before {
  box-shadow: none !important;
}

button.button {
  color: white !important;
}

html {
  overflow: hidden;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
  color: $color-dark-grey;
}

// // Box widget
.box-widget {
  border-radius: $border-radius;
  padding: $box-widget-padding;
}

.background-primary {
  background: $color-primary;
}

.background-white {
  background: $color-white;
}

.text-color-primary {
  color: $color-primary;
}

.rounded-border:not(.v-sheet--title):not(.v-card--shaped) {
  border-radius: $border-radius;
}

.v-btn[href]:not(.v-btn--outlined) {
  color: $color-white;
}

.text-overflow-with-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.v-card {
  border-radius: $border-radius !important;
}

.full-height {
  height: 100%;
}

.text--gray {
  color: $color-text-gray;
}

.selected-map {
  color: $color-secondary !important;
}

.selected-map {
  color: $color-secondary !important;
}

.lighter-tab {
  opacity: 0.70;
}

.secondary-color {
  color: $color-orange;
}

//HACK: Upgrading vuetity has a different max-width.
// We are reverting this here.
//.container.fill-height > .row {
//  max-width: 100% !important;
//  margin-left: auto !important;
//  margin-right: auto !important;/
//}
.cancelled-banner {
  font-weight: bold;
  color: $color-alertRed;
  background-color: lighten($color-alertRed, 50%) !important;
}
.information-banner {
  font-weight: bold;
  color: $color-green;
  background-color: $background-light-green;
}

.color-alert-red {
  color: $color-alertRed !important;
}

.capitalize {
  text-transform: lowercase;
}
.capitalize::first-letter {
  text-transform: uppercase;
}
/* Fix an issue with breaking inside words */
.v-card__text, .v-card__title {
  word-break: normal; /* maybe !important  */
}

.smaller-font-size {
  font-size: smaller !important;
}
h4.netmobiel {
  text-transform: uppercase;
  color: $color-primary;
}
.clickable-item {
  cursor: pointer;
}
// Hide the link to improve the map, we do not want to jump away from the page
.mapboxgl-ctrl-attrib-inner a.mapbox-improve-map {
  display: none !important;
}
// Prevent clickable links on the map not controlled by us
.mapboxgl-ctrl-attrib-inner a, a.mapboxgl-ctrl-logo {
  pointer-events: none;
}
// Remove all decoration from links  intended for external browser
//a[target="_blank"] {
//  pointer-events: none;
//}
